<!DOCTYPE html>
<html lang="en">

<head>
    <title>AirBnB Clone</title>
    <link rel="shortcut icon" type="image/x-icon" href="static/images/icon.ico" >

    <link rel="stylesheet" href="static/styles/4-common.css"/>
    <link rel="stylesheet" href="static/styles/3-header.css"/>
    <link rel="stylesheet" href="static/styles/3-footer.css"/>
    <link rel="stylesheet" href="static/styles/6-filters.css"/>
    <link rel="stylesheet" href="static/styles/8-places.css">
    
</head>

<body>
    <header>
        &nbsp;
    </header>
    <div class="container">
        <!--section of the filters-->
        <section class="filters">
            <div class="locations">
                <h3>States</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    {% for state in states %}
                    <li><h2>{{state.name|e}}</h2>
                        <ul>
                            {% for city in state.sorted_cities %}
                            <li><h4>{{city.name|e}}</h4></li>
                            {% endfor %}
                        </ul>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="amenities">
                <h3>Amenities</h3>
                <h4>&nbsp;</h4>
                <ul class="popover">
                    <li>
                        <ul>
                            {% for amenity in amenities %}
                            <li><h4>{{amenity.name|e}}</h4></li>
                            {% endfor %}
                        </ul>
                    </li>
                </ul>
            </div>
            <button class="search">Search</button>
        </section>

        <!--section of results of the filters-->
        <section class="places">
            <h1>Places</h1>
            {% for place in places %}
            <article>
                <h2>{{place.name|e}}</h2>
                <div class="price_by_night">${{place.price_by_night|e}}</div>
                <div class="information">
                    <div class="max_guest">{{place.max_guest|e}} Guests</div>
                    <div class="number_rooms">{{place.number_rooms|e}} Bedroom</div>
                    <div class="number_bathrooms">{{place.number_bathrooms|e}} bathroom</div>
                </div>
                <div class="user">
                    <strong>Owner: </strong> {{place.user.first_name|e}} {{place.user.last_name|e}}
                </div>
                <div class="description">
                    {{place.description|safe}}
                </div>
            </article>
            {% endfor %}
        </section>
    </div>
    <footer>
        Holberton School
    </footer>
</body>

</html>
